@import 'mixins';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    padding: 2.5rem 1.5rem;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;

    @include breakpoint-up(desktop){
        position: relative
    }
}

.productCard{
    max-width: 375px;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;

    @include breakpoint-up(desktop){
        max-width: 595px;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__image{
        width: 100%;

        img{
            width: 100%;

            @include breakpoint-up(desktop){
                content: url('images/image-product-desktop.jpg');
                height: 100%;
            }
        }

    }

    &__text{
        padding: 1.5rem 2rem;

        @include breakpoint-up(desktop){
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        

        &--category{
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 5px;
            font-size: 0.7rem;
            color: hsl(228, 12%, 48%);
            margin-bottom: 0.7rem;
        }

        &--title{
            font-family: 'Fraunces', serif;
            font-size: 2rem;
            margin-bottom: 0.7rem;
        }

        &--para{
            font-family: 'Montserrat', sans-serif;
            color: hsl(228, 12%, 48%);
            font-size: 0.9rem;
            margin-bottom: 1.5rem;

        }

        &--prices{
            display: flex;
            margin-bottom: 1.5rem;

            .price{
                display: inline-block;
                color: hsl(158, 36%, 37%);
                font-size: 2rem;
                font-family: 'Fraunces', serif;
            }

            .promotion{
                text-decoration: line-through hsl(228, 12%, 48%);
                align-self: center;
                color: hsl(228, 12%, 48%);
                margin-left: 1.5rem;
            }
        }

        &--buttonCart{
            background-color: hsl(158, 36%, 37%);
            padding: 0.9rem;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            transition: background-color 200ms ease-in-out ;
            &:hover{
                background-color: hsl(157, 38%, 23%);
                cursor: pointer;
            }

            p{
                text-align: center;
                color: hsl(30, 38%, 92%);
                font-size: 1rem;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                margin-left: 0.5rem;
            }

        }
    }
}